header {
    background-color: #243447;
    color: white;

    padding: 50px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*Hovedinnhold for nettsiden*/
.container {
    width: 90%;
    max-width: 9000px;
    margin: auto;
}

main {
    padding: 40px 0;
}
/*Bruk denne når nytt informasjon skal bli lagt til*/
/*Fungerer som en informasjons boks*/

.infobox {
    background-color: white;

    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.infobox h2 {
    margin-top: 0;
    color: #243447;
    border-bottom: 2px solid #999999;
    padding-bottom: 10px;
}